@import "variables";

.form {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: auto;
    padding: 30px 60px;
    box-sizing: border-box;
    background: $dark-green;
    box-shadow:
        2px 2px 10px 2px $black,
        inset -2px -2px 9px 3px $dark-gray ;

    .header {
        .header__title {
            font-size: 4rem;
            color: $green;
            letter-spacing: .15em;
            text-shadow:
                  3px -6px 0px $dark-gray, 
                  2px -4px 0px $dark-gray, 
                  1px -2px 0px $dark-gray,
                  0px -0px 0px $dark-gray;
               
        }
    }

    .data{
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        .data__box{
            width: 50%;
            text-align: center;
            padding: 0 30px;
            .data__label{
                display: block;
                margin: 10px 0;
                text-align: left;
            }
            .data__input{
                width: 100%;
                box-sizing: border-box;
                font-size: 1.2rem;
                padding: 5px;
                background: transparent;
                border: 1px solid $gray;
                color: $white;
            }
            .data__input:focus{
                outline: none;
                border: 1px solid $green;
            }
        }   
        
    }
    
    .button{
        margin: 60px 0;
        .button__btn {
            font-size: 1rem;
            background: $green;    
            border: none;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            color: $white;
            font-size: 1.2rem;
            text-transform: uppercase;
            cursor: pointer;
            position: relative;
            box-shadow: 
                0px 5px $dark-gray,
                inset 0px -2px 6px #82c9b5;
        }
    
        .button__btn:active {
            top: 2px;
            box-shadow: none;
            
        }
        .button__btn:focus {
            outline: none;
        }
    }
    .result {
        font-size: 1.3rem;
        font-weight: bold;
        height: 52px;
        padding: 0 30px;
    }

}

/*change autofill input bg & colour */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $dark-green inset;
    -webkit-text-fill-color: $white;
    -moz-box-shadow: 0 0 0 30px $dark-green inset;
    -moz-text-fill-color: $white;
}


/*remove input number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}